* {
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25em;
  text-align: left;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.gallery-item a:hover {
  cursor: url(../Vector.svg), auto;
}
.sl-wrapper,
.sl-caption {
  background-color: rgba(46, 47, 66, 0.8);
}
body {
  background: rgb(180, 180, 180);
}
.feedback-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
}
.feedback-form > input {
  width: 405px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}
.feedback-form > textarea {
  width: 405px;
  margin-left: auto;
  min-height: 80px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}
.feedback-form > button {
  position: static;
  width: 95px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  margin: 16px 0px;
  border-radius: 8px;
  border-style: none;
  background: rgb(78, 117, 255);
  color: white;
}
.feedback-form > label {
  color: black;
}
.feedback-form > input:hover {
  border: 1px solid rgb(0, 0, 0);
}
.feedback-form > textarea:hover {
  border: 1px solid rgb(0, 0, 0);
}
#email:active {
  border: none;
}
.feedback-form > button:hover {
  background: rgb(108, 140, 255);
}
